//colors
$primary-color: #25282a;
$font-primary: 'Nunito', sans-serif;
$primary-text-color:  $primary-color;
$white: #fff;
$secondary-color:#c4c4c4;
$btn-hover: #35424e;
$btn: #565555;

$font-thin: 100;
$font-lighter: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
